%html{:lang => "es"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title Rock, Paper, Scissors
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %center
            %h1 Rock, Paper, Scissors